@model IoTHub.Management.TableStorage.RegistrationKeyEntity

<div class="row">
    <h3>Registration key created</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Registration key</label>
            <div class="col-sm-10">
                <p class="form-control-static">@(Model.RegistrationKey)</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Valid until</label>
            <div class="col-sm-10">
                <p class="form-control-static">@(Model.ValidUntil)</p>
            </div>
        </div>
    </form>
</div>