@model bool

<div class="row">
    @if (Model)
    {
        <h3 class="alert-success">Access key have been updated</h3>
    }
    else
    {
        <h3 class="alert-danger">Access key could NOT be updated</h3>
    }
</div>